@import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  height: 100%;
  background: #2f8aff;
  color: #fff;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin: 10px auto;
  font-weight: 800;
  font-size: 5rem;
}

label {
  font-weight: 800;
  display: block;
  margin: 4px 0;
  text-transform: uppercase;
  font-size: 21px;
  overflow: hidden;
}

  label.span {
    float: right;
    text-transform: none;
    font-weight: 200;
    line-height: 1em;
    font-style: italic;
    opacity: 0.8;
  }

.form-controll {
  display: block;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.3);
  color: #fff;
  font-weight: 200;
  
  &:focus {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }
}

button {
  padding: 8px 30px;
  background: rgba(255,255,255,0.8);
  color: #053777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  border: 0;
  text-shadow: 0 1px 2px #fff;
  cursor: pointer;
}

.form-group {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.back-to-article {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
  display: inline-block;
  background: rgba(0,0,0,0.6);
  padding: 10px 18px;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
  
  &:hover {
    opacity: 1;
    background: rgba(0,0,0,0.8);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cta-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(50px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 600px;
}

.cta {
  background: #333;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  height: 550px;
  overflow: hidden;
  position: relative;
  width: 700px;
}

.cta:hover img {
  top: -10%;
  filter: brightness(70%);
}

.cta:hover .text {
  bottom: 0;
}

.cta img {
  bottom: 0;
  filter: brightness(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  width: 115%;
  height: 88%;
}
.space{
  height: 3rem;
}

.space1{
  width: 2rem;
}


.cta .text {
  bottom: -20%;
  padding: 15px;
  position: absolute;
  width: 700px;
  transition: 0.5s ease-in-out;
}

.cta .text h2 {
  color: #fff;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 5px;
  position: relative;
}

.cta .text p {
  color: #fff;
  font-weight: 300;
  width: 580px;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.show-list-container{
  margin-right: 10%;
  margin-left: 10%;
}

.formupload{
  display: block;
  padding-top: 70px;
}

.btn-ln1{
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 20px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background-color: #ffffff;
  color: #006fff;
  margin: 10px;
}



/*
=============== 
Navbar
===============
*/
nav {
  background: #2a2dff;;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header h3{
  font-family: 'Pacifico',cursive;
    font-size: 2rem;
    margin: 0;
    text-decoration: underline;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

.btn-auth{
  display: flex;
    gap: 20px;
}

.btn-ln{
  border: none;
  outline: none;
  padding: 10px 0;
  border-radius: 20px;
  width: 150px;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  background-color: #ffffff;
  color: #2a2dff;
  margin: 10px;
}

.btn-ln:hover{
  transition: all 500ms;
  transform: translate(0, -5px);
}

